/* お酒情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-new{
  margin-top: 5px;
}

.btn-new-alchol {
  margin-top: 10px;
}

.label-edit {
  margin-top: 5px;
}

.btn-alchol-edit {
  margin-top: 10px;
}

.search_form {
  text-align: center;
  
}
